<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            userID
          </th>
          <th>
            Nome
          </th>
          <th>
            Cognome
          </th>
          <th>
            Indirizzo
          </th>
          <th>
            Edit
          </th>
          <th>
            Clear
          </th>
          <th>
            Read
          </th>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <input placeholder="Nome" [(ngModel)]="clienttoinsert.nome">
          </td>
          <td>
            <input placeholder="Cognome" [(ngModel)]="clienttoinsert.cognome">
          </td>
          <td>
            <input placeholder="Indirizzo" [(ngModel)]="clienttoinsert.indirizzo">
          </td>
          <td>
            <button (click)="insert(clienttoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
          <td>
          </td>
        </tr>
        <tr *ngFor="let client of clients">
            <td *ngIf="checkuser(client)">
                <input type="hidden" [(ngModel)]="client.userID">
                {{client.userID}}
          </td>
          <td *ngIf="checkuser(client)">
            <input [(ngModel)]="client.nome">
          </td>
          <td *ngIf="checkuser(client)">
            <input [(ngModel)]="client.cognome">
          </td>
          <td *ngIf="checkuser(client)">
            <input [(ngModel)]="client.indirizzo">
          </td>
          <td *ngIf="checkuser(client)">
            <button (click)="update(client)">Save</button>
          </td>
          <td *ngIf="checkuser(client)">
            <button (click)="delete(client)">Delete</button>
          </td>
          <td *ngIf="checkuser(client)">
            <button (click)="select(client)">Read</button>
          </td>
        </tr>
      </table>
    
      <table *ngIf="isselected">
        <tr>
          <th>
            clientID
          </th>
          <th>
            Nome
          </th>
          <th>
            Cognome
          </th>
          <th>
            Indirizzo
          </th>
          <th>
            userID
          </th>
          <th>

        </th>
        </tr>
        <tr>
            <td>
          {{selected.id}} 
          </td>
            <td>
                {{selected.nome}}
          </td>
          <td>
              {{selected.cognome}}
          </td>
          <td>
              {{selected.indirizzo}}
          </td>
          <td>
              {{selected.userID}}
          </td>
          <td>
              <button (click)="closeread()">Close</button>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-1">

    </div>
  </div>
</div>