<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
                ID Client
            </th>
            <th>
                ID Item
            </th>
            <th>
              Data
            </th>
            <th>
              Prezzo
            </th>

            <th colspan="2">
              Upload/Insert
            </th>
           
            <th colspan="2">
              Clear/Read
            </th>
          </tr>
          <tr>
            <td>
                <select placeholder="idclient" [(ngModel)]="orderstoinsert.idcliente" >
                    <option *ngFor="let client of clients" [selected]="orderstoinsert.idcliente===client.id" value={{client.id}}> {{client.nome}} {{client.cognome}} </option>
                      </select>
            </td>
            <td>
              <!--<input  [(ngModel)]="">-->
              <select placeholder="iditem" [(ngModel)]="orderstoinsert.id" >
              <option *ngFor="let item of items" [selected]="orderstoinsert.id===item.id" value={{item.id}}>{{item.nome}}</option>
                </select>
            </td>
            <td>
              {{dataora()}}
            </td>
            <td>
              <input placeholder="Prezzo" [(ngModel)]="orderstoinsert.prezzo">
            </td>
            <td colspan="2">
              <button (click)="insert(orderstoinsert)" style="width:250px">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>

          </tr>
          <tr *ngFor="let order of orders">
              <td>
                  <button (click)="readc(order.idcliente);" style="width:50px">{{order.idcliente}} </button>
                  
            </td>
            <td>
                
                <button (click)="readi(order.id);" style="width:50px">{{order.id}} </button>
            </td>
            <td>
              {{order.data}}
            </td>
            <td>
              {{order.prezzo}}
            </td>
            <td>
              <input  type="file" style="border: 0px;" (change)=onFileSelected($event) accept=".jpg" >
            </td>
            <td>
              <button type="button"(click)="upload(order)">Upload</button>
            </td>

            <td colspan="2">
              <button style="width: 100px;" (click)="select(order)">Read</button>
            </td>
          </tr>
        </table>
      
        <table *ngIf="isselectedc">
            <tr>
              <th>
                  ID
              </th>
              <th>
                  ID Client
              </th>
              <th>
                  ID Item
              </th>
              <th>
                Indirizzo
              </th>
              <th>
                
              </th>
            </tr>
            <tr>
                <td>
              {{selectedc.id }} 
              </td>
                <td>
                    {{selectedc.nome}}
              </td>
              <td>
                  {{selectedc.cognome}}
              </td>
              <td>
                  {{selectedc.indirizzo}}
              </td>
              <td>
                  <button (click)="closereada()">Close</button>
              </td>
            </tr>
          </table>

        <table *ngIf="isselectedi">
            <tr>
              <th>
                  Nome
              </th>
              <th>
                  Descrizione
              </th>
              <th>
                  Tipo
              </th>
              <th>
                Colore
              </th>
              <th>
               Taglia
              </th>
              <th>
              </th>
              <th>
                QR Link
              </th>
              <th>
                </th>
                <th>
            </th>
            </tr>
            <tr>
                <td>
                    {{selectedi.nome}}
              </td>
              <td>
                  {{selectedi.descrizione}}
              </td>
              <td>
                {{selectedi.tipo}}
            </td>
              <td>
                  {{selectedi.colore}}
              </td>
              <td>
                  {{selectedi.taglia}}
              </td>
              <td>
                <!-- <div><img [src]="selectedi.immagine">{{selectedi.immagine}} </div> -->

               <img class="zoom" [src]="'https://localhost:5001/'+selectedi.immagine" alt="img non disponibile">
            </td>
            <td>
              <input placeholder="{{selectedi.link}}" [(ngModel)]="qrlink">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img class="zoom" [src]="'http://api.qrserver.com/v1/create-qr-code/?data=' +selectedi.link+ '&size=100x100/'">
          </td>
          <td>
            <button (click)="updatei(selectedi)">Save</button>
          </td>
              <td>
                  <button (click)="closereadb()">Close</button>
              </td>
            </tr>
          </table>

        <table *ngIf="isselected">
            <tr>
              <th>
                  ID
              </th>
              <th>
                  ID Client
              </th>
              <th>
                  ID Item
              </th>
              <th>
                Data
              </th>
              <th>
                Prezzo
              </th>
              <th>
    
            </th>
            </tr>
            <tr>
                <td>
              {{selected.id }} 
              </td>
                <td>
                    {{selected.idcliente}}
              </td>
              <td>
                  {{selected.id}}
              </td>
              <td>
                  {{selected.data}}
              </td>
              <td>
                  {{selected.prezzo}}
              </td>
              
              <td>
                  <button (click)="closereadc()">Close</button>
              </td>
             
            </tr>
          </table>
      </div>
      
      <div class="col-md-1">
  
      </div>
    </div>
  </div>