*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
    
    table-layout:fixed;
    width: 120%;
	border-radius: 4px;
	-moz-border-radius: 4px;
}



th, td {
	text-align: center;
    padding: 2px;
    width: 80%;
    
}

.specifictd {    
    width:360px;  /* adjust to desired wrapping */
    display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
td{
    font-size: 16px;
    
}





tr {
	background-color: lightcyan;
}

th {
	background-color: darkcyan;
    color: #ffffff;
}

a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
    width: 100%;
}

input:hover,  input:active, input:focus{
    border: 2px solid crimson;
}

button:hover{
    background-color: crimson;
}

button{
    width: 100%;
}
