<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <button class="menubtn">
                <a [routerLink]="['/admin-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Dashboard </a>
            </button>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#client"
                (click)="clientcollapse()">
                <i class="fas fa-user" style="margin-right: 15px"></i> Client
            </button>
            <div class="collapsebtn" id="client" *ngIf="isClientCollapsed">
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/client']"> <i class="fas fa-edit" style="margin-right: 10px">
                    </i>Edit Client</a>
                </button>
                <!--<button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"><i class="fas fa-file-alt"
                            style="margin-right: 15px"></i>General Info</a>
                </button>-->
            </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#item"
            (click)="itemcollapse()">
            <i class="fas fa-user" style="margin-right: 15px"></i> Articoli
        </button>
        <div class="collapsebtn" id="item" *ngIf="isItemCollapsed">
            <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                <a [routerLink]="['/admin-dashboard/item']"> <i class="fas fa-user-edit"
                        style="margin-right: 15px"></i>
                    Edit Articoli</a>
            </button>
        </div>
        
        <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#orders"
        (click)="orderscollapse()">
        <i class="fas fa-user" style="margin-right: 15px"></i> Ordini
    </button>
    <div class="collapsebtn" id="orders" *ngIf="isOrdersCollapsed">
        <button class="menubtn" style="background-color: #334247; padding-left: 40px">
            <a [routerLink]="['/admin-dashboard/orders']"> <i class="fas fa-user-edit"
                    style="margin-right: 15px"></i>
                View Orders</a>
        </button>
    </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#users"
                (click)="userscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Lista User
            </button>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Gestisci Users </a>
                </button>
            </div>
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>