<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
                ID Client
            </th>
            <th>
                ID Item
            </th>
            <th>
              Data
            </th>
            <th>
              Prezzo
            </th>
            <th>
                Immagine
                </th>
                <th>
                QRLink
                </th> 
            <th>
              Edit
            </th>
            <th>
              Clear/Read
            </th>
          </tr>
          <tr>
            <td>
                <select placeholder="IDclient" [(ngModel)]="orderstoinsert.idclient" >
                    <option *ngFor="let client of clients" [selected]="orderstoinsert.idclient===client.id" value={{client.id}}>{{client.nome}} {{client.cognome}}</option>
                      </select>
            </td>
            <td>
              <!--<input  [(ngModel)]="">-->
              <select placeholder="IDitem" [(ngModel)]="orderstoinsert.iditem" >
              <option *ngFor="let item of items" [selected]="orderstoinsert.iditem===item.id" value={{item.id}}>{{item.nome}}</option>
                </select>
            </td>
            <td>
              {{dataora()}}
            </td>
            <td>
              <input placeholder="Prezzo" [(ngModel)]="orderstoinsert.prezzo">
            </td>
            <td colspan="2">
                <h3>Devi prima effettuare l'ordine per personalizzarlo!</h3>
             </td> 
            <td>
              <button (click)="insert(orderstoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>

          </tr>
          <tr *ngFor="let order of orders">
              <td>
                  <button (click)="readc(order.idclient);" style="width:50px">{{order.idclient}}</button>
                  
            </td>
            <td>
                
                <button (click)="readi(order.iditem);" style="width:50px">{{order.iditem}} </button>
            </td>
            <td>
              {{order.data}}
            </td>
            <td>
              {{order.prezzo}}
            </td>
            <td>
            <!--<input type="file" placeholder="Immagine" [(ngModel)]="orderstoinsert.prezzo">Qui ci va l'upload-->
          </td>
          <td>
              <!--<input placeholder="QRLink" [(ngModel)]="orderstoinsert.prezzo">Qui ci va itemtoinsert.qrlink-->
          </td> 
            <td>
              <button (click)="update(order)">Custom</button>
            </td>

            <td>
              <button (click)="select(order)">Read</button>
            </td>
          </tr>
        </table>
      
        <table *ngIf="isselectedc">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nome
                </th>
                <th>
                   Cognome
                </th>
                <th>
                  Indirizzo
                </th>
  
                <th>
      
              </th>
              </tr>
              <tr>
                  <td>
                {{selectedc.id }} 
                </td>
                  <td>
                      {{selectedc.nome}}
                </td>
                <td>
                    {{selectedc.cognome}}
                </td>
                <td>
                    {{selectedc.indirizzo}}
                </td>
                <td>
                    <button (click)="closeread()">Close</button>
                </td>
              </tr>
          </table>

        <table *ngIf="isselectedi">
            <tr>
              <th>
                  ID
              </th>
              <th>
                  Nome
              </th>
              <th>
                  Descrizione
              </th>
              <th>
                Tipo
              </th>
              <th>
               Colore
              </th> 
              <th>
                Taglia
              </th>
              <th>
    
            </th>
            </tr>
            <tr>
                <td>
              {{selectedi.id }} 
              </td>
                <td>
                    {{selectedi.nome}}
              </td>
              <td>
                  {{selectedi.descrizione}}
              </td>
              <td>
                  {{selectedi.tipo}}
              </td>
              <td>
                  {{selectedi.colore}}
              </td>
              <td>
                  {{selectedi.taglia}}
              </td>
              <td>
                  <button (click)="closeread()">Close</button>
              </td>
            </tr>
          </table>

        <table *ngIf="isselected">
            <tr>
              <th>
                  ID
              </th>
              <th>
                  ID Client
              </th>
              <th>
                  ID Item
              </th>
              <th>
                Data
              </th>
              <th>
                Prezzo
              </th>
              <th>
                  Immagine
              </th>
              <th>
                  QRLink
              </th>
            </tr>
            <tr>
                <td>
              {{selected.id }} 
              </td>
                <td>
                    {{selected.idclient}}
              </td>
              <td>
                  {{selected.iditem}}
              </td>
              <td>
                  {{selected.data}}
              </td>
              <td>
                  {{selected.prezzo}}
              </td>
              <td>
                  {{selectedi.immagine}}
              </td>
              <td>
                  {{selectedi.link}}
              </td>
              <td>
                  <button (click)="closeread()">Close</button>
              </td>
            </tr>
          </table>
      </div>
      
      <div class="col-md-1">
  
      </div>
    </div>
  </div>