<div class="container">
  <div class="row mt-5">
   
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Nome
          </th>
          <th>
            Descrizione
          </th>
          <th>
              <input type="text" placeholder="Tipo" [(ngModel)]="searchVal" (ngModelChange)='checkSearchVal()' >
          </th>
          <th>
            Colore
          </th>
          <th>
            Taglia
          </th>
<!--
          <th>
            Immagine
          </th>
          <th>
            Link
          </th>
        -->
          <th>
            Read
          </th>
        </tr>

        <tr *ngFor="let item of result">
            <td *ngIf="checknativeitem(item)" >
                {{item.nome}}
          </td>
          <td *ngIf="checknativeitem(item)" >
          {{item.descrizione}}
          </td  >
          <td *ngIf="checknativeitem(item)" >
              {{item.tipo}}
          </td>
          <td *ngIf="checknativeitem(item)" >
              {{item.colore}}
          </td>
          <td *ngIf="checknativeitem(item)" >
              {{item.taglia}}
          </td>
          <!--
          <td *ngIf="checknativeitem(item)" >
            <input [(ngModel)]="item.immagine">
          </td>
          <td *ngIf="checknativeitem(item)" >
            <input [(ngModel)]="item.link">
          </td>
        -->

          <td *ngIf="checknativeitem(item)" >
            <button (click)="select(item)">Read</button>
          </td>
        </tr>
      </table>
    
      <table *ngIf="isselected">
        <tr>
          <th>
            Nome
          </th>
          <th>
            Descrizione
          </th>
          <th>
            Tipo
          </th>
          <th>
            Colore
          </th>
          <th>
            Taglia
          </th>
          <!--
          <th>
            Immagine
          </th>
          <th>
            QR Link
          </th>
          -->
          <th>

        </th>
        </tr>
        <tr>
            <td>
          {{selected.nome}} 
          </td>
            <td>
                {{selected.descrizione}}
          </td>
          <td>
              {{selected.tipo}}
          </td>
          <td>
              {{selected.colore}}
          </td>
          <td>
              {{selected.taglia}}
          </td>
          

          <td>
              <button (click)="closeread()">Close</button>
          </td>
        </tr>
      </table>
    </div>
    
  
  </div>
</div>